---

import '../styles/golbal.css'
import Navegacion from '../components/Navegacion.astro'
import Footer from '../components/Footer.astro';


const pagetitle = "Astro by Alejandro"

const identidad= {
  nombre: "Alejandro",
  apellido: "Caldi",
  pais: "Argentina",
  hobbie: ["Ajedrez","Fotogtafía","Literatura","Programación"]
}

const conocimientos = ['Python','Java','SQL']

const sistemaOperativo = 'Linux';
const cantidad = 4;
const ropa = 'botas';
const estudiar = false;

const finalizado = true;
const objetivo = 2;
const conocimientoColor = 'yellow';
const tamañoFuente='3rem';
const grosorFuente='bolder';

const vinculos=["https://techcrunch.com/feed/",
                "http://feeds.bbci.co.uk/news/world/rss.xml",
                "https://www.npr.org/rss/podcast.php?"]

const fondo = "darkgrey";
---

---


<html lang="en">
<head>
  <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
  <title>{pagetitle}</title>
</head>
<body>
  <main>
    <Navegacion/>
  <h1> Soy... </h1>
    <ul>
      <li>Nombre y Apellido: {identidad.nombre} {identidad.apellido}</li>
      <li> País: {identidad.pais}</li>
      <ol>  Pasatiempos favoritos    
       {identidad.hobbie.length >= 2 && <li class="conocimiento"> son... {identidad.hobbie[0]} y {identidad.hobbie[1]}</li>}
        </ol>

      <ol>
          {identidad.hobbie.map(item => (
            <li>{item}</li>
          ))}
        </ul>
      </ol>
  </ul>
  <h2> ... y esto es todo... </h2>

  {identidad.hobbie.length <= 10 ? <p> No son demasiados hobbies</p> : <p> Este tipo tiene algún defecto de ansiedad</p>}
  <!-- Esta es la forma de llevar un if en astro. "?" es el inicio de la 
       ejecución d código y ":" es el else   -->

<h2> Resultados de ejercicios</h2>

    <p> {sistemaOperativo}</p>

    {estudiar && <p>Sigo estudiando </p>}
      
    <p> Tengo {cantidad - 2} pares de {ropa} </p>

    {sistemaOperativo == "Macos" ? <p>Uso el ordenador de la manzanita </p> 
                                 : <p>No sé como manejar mi OS</p>}

  </main>
  <Footer vinculos{vinculos}/>
</body>
<style define:vars={{conocimientoColor, tamañoFuente, grosorFuente}}>
  h1{
    color: purple;
    font-size: var(--tamañoFuente);
  }
  .conocimiento{
    color:var(--conocimientoColor);
    font-weight: var(--grosorFuente);
  }
</style>
</html>